<link rel="stylesheet" href="https://gitcdn.link/repo/Spatchy/spatchyCDN/main/styles.css">
<body>
  <img src="https://raw.githubusercontent.com/Spatchy/spatchyCDN/main/wordmark-logo.png" alt="" class="logo">
  <div class="wrap">
    <div class="post">
      <div class="header">
        <div class="header-left">
          <div class="username">
            
          </div>
        </div>
        <div class="header-right">
          <div class="date">
            
          </div>
        </div>
      </div>
      <div class="main">
        <h1 class="content">
          
        </h1>
      </div>
    </div>
    <div class="floating">
      <div class="url">
        
      </div>
    </div>
  </div>
</body>